body{
    margin: 0;
}

.grid-container{
    margin: 0;
}
header{
    margin: 20px;
    text-align: center;
    background-color: burlywood;
    color: rgb(0, 0, 0);
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 40px;
    box-shadow: black 8px -4px 8px -4px;

}

.sidebar a, .link a {
    text-align: center;
    color: #000000;
    text-decoration: none; 
    padding: 10px;
;
}



.sidebar a:hover, .link a:hover {
    color:bisque; 
    background-color: black;
    border-radius: 10px;
    transition: 0.3s;
}




body{
    font-family: poppins, sans-serif;
    background-color: navajowhite;
    
}

main{
    margin: 40px;
}

h2{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.image-container{
    text-align: center;
    margin: 20px 0;
    background-color: burlywood;
    padding: 10px;  
}