body{
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header{
    background-color: rgb(190, 123, 76);
    padding: 20px;
}

main{
    background-color: rgb(194, 147, 114);
    padding: 20px;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.header-center {
    display: flex;
}

.bodytext-header {
    border: 5px solid black;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(194, 147, 114);
    text-align: center;
    
}

