@import "tailwindcss";

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-base: 'Nunito', sans-serif;
  --color-primary: #92400e;
  --color-secondary: #fbbf24;
  --color-accent: #78350f;
  --color-bg: #fff7ed;
  --color-text: #374151;
}

body {
  font-family: var(--font-family-base);
  @apply text-text bg-bg leading-relaxed;
}

 /*Index.html*/

.foot-card {
  @apply bg-white rounded-2xl overflow-hidden shadow-md transform transition-transform duration-300 hover:scale-105 hover:shadow-xl border border-amber-200 hover:border-[var(--color-secondary)];
}

.main-card{
  @apply block bg-white rounded-2xl overflow-hidden shadow-md transform transition duration-300 hover:scale-105 hover:shadow-xl;
}

.main-card-num{
  @apply w-9 h-9 sm:w-10 sm:h-10 rounded-full bg-amber-100 text-amber-700 flex items-center justify-center font-bold mr-3;
}

.main-card-header{
  @apply text-lg sm:text-xl font-semibold text-primary group-hover:text-secondary;
}


/*Header*/
.headerhead{
  @apply left-0 w-full bg-primary text-bg shadow-lg sticky top-0 z-50;
}

.arthead{
  @apply max-w-7xl mx-auto px-4 sm:px-6 py-3 flex flex-col md:flex-row items-center justify-between
}

.rightnav{
  @apply flex flex-row flex-wrap md:flex-row md:items-center gap-2 sm:gap-3 text-sm sm:text-base font-semibold
}

.linktoch{
  @apply block px-2 py-1 text-bg  hover:text-secondary hover:scale-110 transition-transform transition-colors duration-300
}

.headerlogo{
  @apply w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center bg-bg text-primary font-bold rounded-full shadow-md
}

.headh1{
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold text-bg;
}

/*footer*/

.footh2{
  @apply text-bg text-lg sm:text-xl font-semibold mb-4 flex items-center gap-2;
}

.foothref{
  @apply  text-bg no-underline  transition-all duration-300 flex items-center gap-2 py-0.5 hover:text-secondary hover:pl-2;
}

.footicon{
  @apply  text-[10px] opacity-0 -translate-x-2 transition-all duration-300 group-hover:opacity-100 group-hover:translate-x-0;
}

.footicons{
  @apply w-8 h-8 flex items-center justify-center rounded-full bg-bg hover:bg-secondary text-text hover:bg-bg transition-all duration-300 hover:scale-110 hover:shadow-lg hover:shadow-amber-500/50;
}


 /*Chapter1*/
.ptext {
  @apply text-sm md:text-sm lg:text-base xl:text-lg leading-relaxed text-justify mt-4;
}

.boxtype{
  @apply bg-white rounded-2xl shadow-xl border-l-4 border-primary p-8 hover:scale-[1.02] transition-transform duration-300  transform transition-all duration-500 hover:scale-105;
}

.boxcontainer{
  @apply bg-white rounded-2xl shadow-xl border-l-4 border-primary p-8 hover:scale-[1.02] transition-transform duration-300 mx-auto max-w-md transform transition-all duration-500 ease-in-out hover:scale-105 hover:shadow-2xl hover:shadow-primary/40 delay-100;
}

.maindesign{
  @apply bg-bg text-text px-8 pb-8 mt-10 sm:px-10 lg:px-20 xl:px-25
}

.mainh2{
  @apply text-lg md:text-2xl lg:text-3xl xl:text-4xl font-bold text-bg bg-primary rounded-lg px-4 py-2 mb-6;
}

.mainh3{
  @apply text-base md:text-lg lg:text-xl xl:text-2xl font-semibold text-primary;
}

.mainsubhead{
  @apply text-base md:text-xl lg:text-2xl xl:text-3xl font-bold text-primary mb-6;
}

.qlscroll{
  @apply text-center scroll-mt-30 md:scroll-mt-26 lg:scroll-mt-24 xl:scroll-mt-22;
}

.tblth{
  @apply px-6 py-3 text-left text-sm sm:text-base font-semibold;
}

.tbltd{
  @apply px-6 py-4 text-sm sm:text-base;
}

.tbltr{
  @apply bg-bg hover:bg-text/10 transition-colors;
}

.oldesign {
  @apply list-decimal my-5 pl-6 space-y-4 text-text text-sm md:text-sm lg:text-base xl:text-lg leading-relaxed text-justify;
}

.uldesign{
  @apply list-disc pl-8 space-y-1 text-gray-800 text-sm md:text-sm lg:text-base xl:text-lg leading-relaxed;
}

.olbold{
  @apply font-semibold text-primary
}

.imagebox{
  @apply bg-white rounded-xl border border-bg p-3 my-8 w-fit mx-auto shadow-[0_8px_20px_rgba(120,72,0,0.3)] hover:shadow-[0_10px_25px_rgba(120,72,0,0.45)] transition-shadow duration-300
}

.footerh2{
  @apply text-2xl font-bold mb-4
}

.footerlink{
  @apply hover:text-secondary hover:scale-105 flex items-center gap-2 text-bg hover:text-amber-500 transition-all
}



/* chapter 14 */
.chap-h2{
  @apply text-2xl md:text-3xl font-bold text-amber-50 mb-4 bg-amber-900 rounded-lg p-1 text-center;
}

.nav-container {
  @apply flex flex-wrap justify-center items-center gap-2 sm:gap-2 overflow-x-auto;
}

.text {
  @apply space-y-4;
}

.text-bg-ol {
  @apply bg-amber-50 border-l-4 border-primary p-4 rounded-r-lg shadow-sm text-sm md:text-[16px] ;  
}

.text-bg-ul {
  @apply bg-amber-50 p-4 rounded-md shadow-lg text-sm md:text-[16px];
}

.nav-a-hover {
  @apply  flex items-center px-3 py-2 text-amber-900 hover:font-bold hover:bg-white hover:shadow-sm rounded-lg;
} 

.image {
  @apply rounded-lg shadow-md h-80 hover:scale-105 transition-transform duration-500 hover:shadow-2xl hover:brightness-90 hover:animate-pulse;
}

.div-img {
  @apply my-6 flex justify-center;
}

.sub-chap {
  @apply text-xl font-bold mb-4;
}

.tr-2 {
  @apply  border border-amber-200;
}

.td-num {
  @apply px-4 py-3 font-semibold text-amber-800;
}

.td-text {
  @apply px-4 py-3 border-b border-amber-200 text-justify;
}

/* chapter 8 */
.body {
    @apply  min-h-screen flex flex-col;
}

.h1-software {
    @apply text-2xl md:text-3xl font-bold bg-gradient-to-r from-[var(--color-primary)] via-[var(--color-secondary)] to-[var(--color-primary)] bg-clip-text text-transparent;
}

.nav-div {
    @apply text-xl font-bold text-center text-[var(--color-primary)] bg-[var(--color-secondary)]  bg-gradient-to-tr from-[var(--color-bg)] rounded-2xl hover:scale-110;
}

.main {
    @apply  mb-10 max-w-5xl mx-auto p-25 px-4 min-w-2 bg-[var(--color-bg)] text-[var(--color-text)] rounded-2xl leading-relaxed space-y-16;
}

.h2-main {
    @apply   bg-[var(--color-primary)] bg-gradient-to-tr from-[var(--color-secondary)] text-white hover:transition hover:text-secondary hover:bg-accent text-center text-3xl font-extrabold py-3 rounded-xl shadow-md hover:scale-110;
}

.ul {
    @apply list-disc list-inside pl-6 space-y-2 text-lg;
}

.div {
    @apply grid grid-cols-2 sm:grid-cols-4 gap-2 text-center text-[var(--color-accent)] font-semibold;
}

.h3-main {
    @apply bg-[var(--color-primary)] bg-gradient-to-tr from-[var(--color-secondary)] text-[var(--color-bg)] hover:transition hover:text-secondary text-center text-2xl font-extrabold py-2 rounded-xl shadow-md hover:scale-110;
}

.navigation {
    @apply bg-[var(--color-primary)] bg-gradient-to-tr from-[var(--color-secondary)] text-[var(--color-bg)] hover:transition hover:text-secondary text-center text-3xl font-extrabold py-3 rounded-xl shadow-md animate-bounce;
}

.side-bar {
    @apply block py-3 px-4 text-[var(--color-bg)] hover:font-bold hover:bg-[var(--color-secondary)]  hover:text-[var(--color-accent)] rounded-2xl transition-all duration-200 border-l-4 border-transparent ;
}

.div-img {
    @apply flex items-center justify-center hover:scale-110;
}
