@import "tailwindcss";

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-base: 'Nunito', sans-serif;
  --color-primary: #92400e;
  --color-secondary: #fbbf24;
  --color-accent: #78350f;
  --color-bg: #fff7ed;
  --color-text: #374151;
}

body {
  font-family: var(--font-family-base);
  @apply text-text bg-bg leading-relaxed;
}

 /*Index.html*/
.foot-card {
  @apply bg-white rounded-2xl overflow-hidden shadow-md transform transition-transform duration-300 hover:scale-105 hover:shadow-xl border border-amber-200 hover:border-secondary;
}

.main-card{
  @apply block bg-white rounded-2xl overflow-hidden shadow-md transform transition duration-300 hover:scale-105 hover:shadow-xl;
}

.main-card-num{
  @apply w-9 h-9 sm:w-10 sm:h-10 rounded-full bg-amber-100 text-amber-700 flex items-center justify-center font-bold mr-3;
}

.main-card-header{
  @apply text-lg sm:text-xl font-semibold text-primary group-hover:text-secondary;
}

/* chapter 14 */
.chap-h2{
  @apply text-xl md:text-2xl lg:text-3xl font-bold text-amber-50 mb-6 bg-linear-to-r from-primary to-amber-700 rounded-2xl shadow-lg p-2 text-center;
}

.chap-link {
  @apply text-primary hover:text-yellow-500 font-semibold text-xs transition px-1 sm:px-3 whitespace-nowrap ;
}

.nav-container {
  @apply flex flex-wrap justify-center items-center gap-2 sm:gap-2 overflow-x-auto;
}

.text {
  @apply space-y-4;
}

.text-bg-ol {
  @apply bg-amber-50 border-l-4 border-primary p-4 rounded-r-lg shadow-sm text-sm md:text-[16px] ;  
}

.text-bg-ul {
  @apply bg-amber-50 p-4 rounded-md shadow-lg text-sm md:text-[16px];
}

.nav-a-hover {
  @apply  flex items-center px-3 py-2 text-amber-900 hover:font-bold hover:bg-white hover:shadow-sm rounded-lg;
} 

.image {
  @apply rounded-lg shadow-md h-80 hover:scale-105 transition-transform duration-500 hover:shadow-2xl hover:brightness-90 hover:animate-pulse;
}

.div-img {
  @apply my-6 flex justify-center;
}

.sub-chap {
  @apply text-xl font-bold mb-4;
}

.tr-2 {
  @apply border-t border-amber-200;
}

.td-num {
  @apply px-4 py-3 font-semibold text-amber-800;
}

.td-text {
  @apply px-4 py-3  text-justify;
}

.foot-num {
  @apply text-amber-600 font-semibold mr-3 text-sm;
}

.foot-text {
  @apply text-sm leading-relaxed;
}